.production {
  margin: 0;
  padding: 0;
  border: 1px solid #ededed;
  margin-bottom: 59px;
}

.production__icon-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 195px;
  margin: 25px auto;
}

.production__icon {
  width: 32px;
  height: 22px;
  background: url("../img/icon-video.svg") no-repeat;
}

.production__title {
  display: block;
  width: 130px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-right: 8px;
}

.production__video {
  width: 258px;
  height: 150px;
  background: url("../img/icon-play.svg") no-repeat,
    url("../img/video-mobile@1x.jpg") no-repeat;
  background-position: center;
}

.production__annotation {
  display: block;
  width: 192px;
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 24px;
}

.production__link {
  width: 192px;
  margin: 0 auto;
  margin-bottom: 32px;
}
