.page-main__offer {
  display: block;
  padding-top: 20px;
  margin-bottom: 20px;
}

.form__group {
  position: relative;
  border: none;
  border-top: 1px solid #63d1bb;
  padding: 0;
  padding-top: 20px;
  margin-bottom: 9px;
}

.form__legend {
  display: block;
  position: relative;
  left: -3px;
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
  color: #63d1bb;
  padding: 0;
  margin: 0;
}

// Радиокнопки
.field-radio__input {
  display: none;
}

.field-radio__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.field-radio__label {
  cursor: pointer;
  margin: 0;
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.field-radio__name-text {
  display: block;
  width: 160px;
  margin-left: 20px;
}

input[value="interior-accessory"]:checked ~ .field-radio__wrapper label[for="item-type1"] .field-radio__checked,
input[value="kids-toy"]:checked ~ .field-radio__wrapper label[for="item-type2"] .field-radio__checked {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #63d1bb;
  position: relative;
  top: 10px;
  left: 10px;
}

// Чекбоксы
.field-checkbox__input {
  display: none;
}

.field-checkbox__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

.field-checkbox__label {
  cursor: pointer;
  margin: 0;
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
}

.field-checkbox__name-text {
  display: block;
  width: 160px;
  margin-left: 20px;
}

input[name="white"]:checked ~ .field-checkbox__wrapper label[for="item-color1"],
input[name="gray"]:checked ~ .field-checkbox__wrapper label[for="item-color2"],
input[name="tiffany"]:checked ~ .field-checkbox__wrapper label[for="item-color3"],
input[name="black"]:checked ~ .field-checkbox__wrapper label[for="item-color4"],
input[name="pink"]:checked ~ .field-checkbox__wrapper label[for="item-color5"],
input[name="orange"]:checked ~ .field-checkbox__wrapper label[for="item-color6"] {
  background: url("../img/icon-tick.svg") no-repeat center;
}

// ФИО
.field-text__input {
  width: 260px;
  display: block;
  border: none;
  border-bottom: 2px solid #000000;
  font-weight: normal;
  padding-bottom: 15px;
  margin-bottom: 17px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.field-text__input:focus {
  outline: none;
  border-color: #63d1bb;
}

.field-text__input:hover {
  border-color: #63d1bb;
}

// Танцы с плейсхолдером
.form input:hover::-webkit-input-placeholder {
  border-color: #63d1bb;
}

.form input:hover::-moz-placeholder {
  border-color: #63d1bb;
}

.form input:hover:-moz-placeholder {
  border-color: #63d1bb;
}

.form input:hover:-ms-input-placeholder {
  border-color: #63d1bb;
}

.form input::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}

.form input::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}
/* Firefox 19+ */
.form input:-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}
/* Firefox 18- */
.form input:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}

.form input:focus::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

.form input:focus::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

.form input:focus:-moz-placeholder{
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

.form input:focus:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

textarea::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}

textarea::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
  }
/* Firefox 19+ */
textarea:-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
  }
/* Firefox 18- */
textarea:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}

textarea:focus::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

textarea:focus::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

textarea:focus:-moz-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

textarea:focus:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}


.field-text__label {
  display: block;
  margin-bottom: 20px;
}

// Телефон
.field-text__tel-icon {
  position: absolute;
  width: 25px;
  height: 24px;
  background: url("../img/tel-sprite.svg") no-repeat;
  left: 225px;
  top: 40px;
}

.field-text__input:hover ~ .field-text__tel-icon,
.field-text__input:focus ~ .field-text__tel-icon {
  background-position-y: -24px;
}

// E-mail
.field-text__mail-icon {
  position: absolute;
  width: 32px;
  height: 21px;
  background: url("../img/mail-sprite.svg") no-repeat;
  left: 223px;
  top: 43px;
}

.field-text__input:hover ~ .field-text__mail-icon,
.field-text__input:focus ~ .field-text__mail-icon {
  background-position-y: -21px;
}

// Доп
.field-text__textarea {
  margin-top: 4px;
  width: 260px;
  height: 142px;
  border: 2px solid #000000;
  font-weight: normal;
  font-family: "Open Sans", "Arial", sans-serif;
  padding: 12px;
}

.field-text__textarea:focus,
.field-text__textarea:hover {
  outline: none;
  border-color: #63d1bb;
}

// Сноска и кнопка
.form__hint {
  display: block;
  font-size: 14px;
  margin: 0px;
  margin-bottom: 22px;
}

.form__button {
  width: 260px;
  padding: 0;
  margin-bottom: 58px;
}
