// ФИО
.field-fio__input {
  width: 260px;
  display: block;
  border: none;
  border-bottom: 2px solid #000000;
  .textstyle(17px, 18px, normal);
  padding-bottom: 15px;
  margin-bottom: 17px;
}

.field-fio__input:focus {
  outline: none;
  border-color: #63d1bb;
}

.field-fio__input:hover {
  border-color: #63d1bb;
}

.field-fio__label {
  display: block;
  margin-bottom: 20px;
  .textstyle();
}

// Танцы с плейсхолдером ------------------------------------------
.form__input:hover::-webkit-input-placeholder {
  border-color: #63d1bb;
}

.form__input:hover::-moz-placeholder {
  border-color: #63d1bb;
}

.form__input:hover:-moz-placeholder {
  border-color: #63d1bb;
}

.form__input:hover:-ms-input-placeholder {
  border-color: #63d1bb;
}

.form__input::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}

.form__input::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}
/* Firefox 19+ */
.form__input:-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}
/* Firefox 18- */
.form__input:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}

.form__input:focus::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

.form__input:focus::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

.form__input:focus:-moz-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

.form__input:focus:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

.field-dop__textarea::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}

.field-dop__textarea::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}
/* Firefox 19+ */
.field-dop__textarea:-moz-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}
/* Firefox 18- */
.field-dop__textarea:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
  transition: opacity 1s ease;
}

.field-dop__textarea:focus::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

.field-dop__textarea:focus::-moz-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

.field-dop__textarea:focus:-moz-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}

.field-dop__textarea:focus:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0;
  transition: opacity 1s ease;
}
