.main-nav {
  position: absolute;
}
.main-nav__list {
  display: none;
}
.main-nav__toggle {
  position: absolute;
  top: -49px;
  left: 270px;
  width: 20px;
  height: 14px;
  font-size: 0;
  background: transparent url("../img/icon-menu-open.svg") no-repeat;
  border: none;
}
