.main-nav__toggle {
  cursor: pointer;
  display: block;
  position: absolute;
  top: -51px;
  left: 268px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background: transparent url("../img/icon-menu-open.svg") no-repeat center;
  border: none;
  outline: none;

  &:active {
    background-image: url("../img/icon-menu-close.svg");
  }
}

.main-nav {
  position: relative;
  width: @mobile-width;
  min-height: 51px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  .textstyle();
  // display: none;
}

.site-list__item,
.user-list__item {
  display: block;
  position: relative;
  height: 79px;
  border-top: 1px solid #ececec;
  padding-top: 27px;
  padding-left: 75px;
}

.user-list__item::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 19px;
  background: url("../img/icon-cart.svg") no-repeat center;
  opacity: 0.2;
  left: 30px;
}

.user-list__item:first-child::before {
  background: url("../img/icon-search.svg") no-repeat center;
}

.nomobile {
  display: none;
}
