// Чекбоксы
.field-color {
  display: block;
  margin-top: 14px;
}

.field-color__input {
  display: none;
}

.field-color__label {
  cursor: pointer;
  display: block;
  position: relative;
  .textstyle();
  margin-left: 61px;
  margin-top: 11px;
  margin-bottom: 43px;
  width: 160px;
}

.field-color__label::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
  left: -63px;
  top: -10px;
}

.field-color__input:checked + .field-color__label::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: url("../img/icon-tick.svg") no-repeat center;
  left: -62px;
  top: -9px;
}
