// Планшетная версия -----------------------------------------------------------

@media @tablet {
  .footer-logo {
    width: 105px;
    height: 38px;
    background: url("../img/logo-footer.svg") no-repeat;
    background-size: 100%;
  }
}
