.itemcard {
  margin: 0 auto;
  padding: 0;
  border: 1px solid #ededed;
  margin-bottom: 30px;
}

.itemcard__name-spec {
  margin-top: 20px;
  width: 200px;
  margin-left: 28px;
  border-bottom: 1px solid #ededed;
}

.itemcard__name {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}

.itemcard__spec {
  display: block;
  margin: 0;
  margin-bottom: 20px;
}

.itemcard__price-cart {
  width: 205px;
  margin-left: 27px;
  margin-top: 23px;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
}

.itemcard__price {
  display: block;
  width: 180px;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.itemcard__cart {
  display: block;
  width: 21px;
  height: 19px;
  background: url("../img/icon-cart.svg") no-repeat;
  font-size: 0;
  opacity: 0.2;
}

// Планшетная версия -----------------------------------------------------------

@media @tablet {
  .itemcard {
    display: flex;
    justify-content: space-between;
    height: 334px;
    margin-bottom: 52px;
  }

  .itemcard__photo,
  .itemcard__text {
    width: (@tablet-width - 100px)/2;
    height: 332px;
  }

  .itemcard__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .itemcard__name-spec {
    width: 240px;
    border: none;
    margin-top: 0;
  }

  .itemcard__name {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  .itemcard__spec {
    font-size: 15px;
  }

  .itemcard__price-cart {
    width: 270px;
    border-top: 1px solid #ededed;
    margin-left: 32px;
    padding-top: 20px;
  }

  .itemcard__price {
    width: 180px;
    font-size: 17px;
  }
}

// Десктопная версия -----------------------------------------------------------

@media @desktop {
  .itemcard {
    flex-direction: column;
    flex-shrink: 0;
    height: 660px;
    width: 316px;
    margin: 0;
  }

  .itemcard__photo,
  .itemcard__text {
    width: 314px;
  }

  .itemcard__photo {
    height: 462px;
  }

  .itemcard__text {
    height: 195px;
  }

  .itemcard__spec, {
    margin: 0;
  }

  .itemcard__price-cart {
    width: 260px;
    margin-top: 0;
    margin-left: 24px;
  }
}
