.logo {
  width: 250px;
  height: 80px;
}

.logo__link {
  display: block;
  width: 86px;
  height: 35px;
  margin-left: 115px;
  margin-top: 22px;
}

.logo__link[href]:hover {
  opacity: 0.6;
}

.logo__link[href]:active {
  opacity: 0.3;
}

// Планшетная версия -----------------------------------------------------------

@media @tablet {
  .logo {
    width: 320px;
    height: 90px;
    order: 1;
  }

  .logo__link {
    // width: 86px;
    // height: 35px;
    margin-left: 0;
    margin-top: 22px;
  }
}

// Десктопная версия -----------------------------------------------------------

@media @desktop {
  .logo {
    width: 170px;
    height: 90px;
    order: 2
  }

  .logo__link {
    // width: 86px;
    // height: 35px;
    margin: auto;
    margin-top: 22px;
  }
}
