.social__list {
  width: 260px;
  height: 80px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  border-bottom: 1px solid #e5e5e5;
  .liststyle();
}

.social__link {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 22px;
}

.social__icon {
  width: 24px;
  height: 24px;

  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__item {
  margin-right: 30px;
}

.social__item:last-child {
  margin-right: 0;
}

// Планшетная версия -----------------------------------------------------------

@media @tablet {
  .social__list {
    margin-left: 100px;
    margin-top: 8px;
    border-bottom: none;
  }
}

// Десктопная версия -----------------------------------------------------------

@media @desktop {
  .social__list {
    margin-left: 290px;
  }
}
