.user-menu {
  background-color: #ffffff;
  width: 320px;
  z-index: 10;
  .liststyle();
  .textstyle();
}

.user-menu--closed {
  position: absolute;
  top: 238px;
  opacity: 0;
  transition-duration: 0.5s;
}

.user-menu--open {
  position: absolute;
  top: 238px;
  display: block;
  opacity: 1;
  transition-duration: 0.5s;
}

.user-menu__item {
  display: block;
  position: relative;
  height: 79px;
  border-top: 1px solid #ececec;
  padding-top: 27px;
  padding-left: 75px;
}

.user-menu__item {
  &:focus,
  &:hover {
    color: #8d8d8d;
  }
  &:active {
    color: #cacaca;
  }
}

.user-menu__search-icon,
.user-menu__cart-icon {
  position: absolute;
  left: 30px;
  fill: #d3d2d2;
}

.user-menu__item:focus .user-menu__icon,
.user-menu__item:hover .user-menu__icon {
  fill: #63d1bb;
}

.user-menu__item:active .user-menu__icon {
  fill: #d0f1ea;
}

.user-menu__item--nomobile {
  display: none;
}
// Планшетная версия -----------------------------------------------------------

@media @tablet {
  .user-menu--closed {
    display: none;
    position: inherit;
    top: 0;
  }

  .user-menu {
    opacity: 1;
    width: 348px;
    .textstyle(17px, 24px, bold);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    order: 2;
  }

  .user-menu__item--nomobile {
    display: block;
  }

  .user-menu__item {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    border: none;
  }

  .user-menu__item--search {
    width: 84px;
    height: 90px;
    font-size: 0;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .user-menu__item--cart {
    width: 220px;
    height: 90px;
    margin-left: auto;
    text-align: right;
  }

  .user-menu__item--delivery {
    width: 300px;
    height: 35px;
    margin-left: auto;
    text-align: right;
    font-size: 15px;
    font-weight: normal;
    color: #444444;
    padding-top: 15px;
  }

  .user-menu__search-icon,
  .user-menu__cart-icon {
    top: 33px;
  }

  .user-menu__cart-icon {
    left: -12px;
  }
}

// Десктопная версия -----------------------------------------------------------

@media @desktop {
  .user-menu {
    width: 420px;
    order: 3;
    align-items: flex-start;
  }

  .user-menu__item--nomobile {
    display: block;
  }

  .user-menu__item {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    border: none;
  }

  .user-menu__item--search {
    margin-left: 70px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .user-menu__item--cart {
    width: 200px;
    height: 90px;
    text-align: right;
  }

  .user-menu__item--delivery {
    height: 35px;
    margin-left: auto;
    padding-top: 16px;
  }

  .user-menu__cart-icon {
    left: -35px;
  }
}
