.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: @tablet-width) {

  .wrapper {
  width: @tablet-width;
  padding: 0 50px;
  // background-color: cyan;
  }

}

@media (min-width: @desktop-width) {

  .wrapper {
  width: @desktop-width;
  padding: 0 100px;
  }

}
